langchain==0.3.20
langchain-community
unstructured
bert-score
accelerate>=0.26.0
sentence-transformers
faiss-gpu 
tqdm 
huggingface_hub 
transformers 
torch 
numpy==1.24.3  
tiktoken 
protobuf 
blobfile 
bitsandbytes 
sentencepiece
